@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/Content/jquery.pnotify.default.css" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-lightness/jquery-ui.css" />
</head>
<body>
    <a href="/Admin" target="_blank" >Admin</a><br /><hr />
    <p>
    Aqui será a página web bla bla bla...
    </p>

    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-1.0.0-rc2.min.js"></script>
    <script src="~/Scripts/jquery.pnotify.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Chat_User.js"></script>

</body>
</html>